<template>
<v-container>
  <v-container>
    <v-row class="text-center">

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Tanuki Lab
        </h1>
      </v-col>
    </v-row>
  </v-container>
  <v-main>
      <v-container>
        <v-row>
          <v-col class="mb-4" v-for="video in videos" :key="video.id">
              <VidCard :video="video" />
        </v-col>

        </v-row>
      </v-container>
    </v-main>
    </v-container>
</template>

<script>
import VidCard from '@/components/VidCard'

  export default {
    name: 'Main',
    components: {
      VidCard
    },

    data: () => ({
      videos: [
        {
          title: 'Getting started with GitLab CI/CD', slug: 'get-started-gitlab', vidID: 'sIegJaLy2ug', id: '1', rating: 4.5, tags: ['CI', 'CD'], description: 'GitLab Solutions Architect Kurt Dusek walks through getting started with GitLab CI/CD.'
        },
        {
          title: 'GitLab CI/CD with security scanning and deploy boards', slug: 'gitlab-sec', vidID: 'wsbSvLyC2Z8', id: '2', rating: 4, tags: ['Security', 'Deploy', 'CI'], description: 'GitLab Solutions Architect Franics Potter highlights GitLabs CI/CD capabilities with Security Scans and Deploy Boards'
        },
        {
          title: 'CI Use Case - Build and Test Automation', slug: 'gitlab-build-test', vidID: '6207TKNGgJs', id: '3', rating: 3.5, tags: ['Build', 'Test'], description: 'This video demonstrates development workflow focuses on how development teams can work with speed and efficiency,  catch potential errors sooner rather than later before they intensify'
        },
        {
          title: 'Parent-Child Pipelines feature demo', slug: 'ci-parent-child', vidID: 'n8KpBSqZNbk', id: '4', rating: 4, tags: ['Pipelines', 'Feature'], description: 'This is a demo of the parent-child pipeline feature.'
        },
        {
          title: 'GitLab for Complex CI/CD: Robust, Visible Pipelines', slug: 'gitlab-advanced-ci', vidID: 'fUsLR6guZp0', id: '5', rating: 4.5, tags: ['CI', 'CD'], description: 'GitLab Solutions Architect Darwin Sanoy walks through complex CI/CD pipelines and advanced features'
        },
        {
          title: 'Custom CI Pipelines', slug: 'github-custom-pipelines', vidID: 'nVzNFXLucWY', id: '6', rating: 4, tags: ['Pipelines','Advanced'], description: 'GitLab Solutions Architect Kurt Dusek custom CI pipeline setup.'
        },
        {
          title: 'Migrating from Jenkins to GitLab', slug: 'jenkins-gitlab-migration', vidID: 'RlEVGOpYF5Y', id: '7', rating: 3.5, tags: ['Migration'], description: 'In this video, we look at the process for migrating pipelines from Jenkins to GitLab'
        },
        {
          title: 'Feature Flag demo', slug: 'feature-flag', vidID: 'x_avnQa74cQ', id: '8', rating: 4.5, tags: ['AutoDevOps', 'Feature flag'], description: 'GitLab Solutions Architect Ralf Gronkowski shows how to combine templates, Auto DevOps and feature flags.'
        },
        {
          title: 'GitOps with GitLab', slug: 'gitops', vidID: 'G7JOjI6V3AY', id: '9', rating: 4.5, tags: ['GitOps', 'IaC'], description: 'GitLab Solutions Architect Sri provides a presentation on Infrastructure as Code demo with GitLab and TerraForm'
        }
      ],
    }),
  }
</script>
